*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

#three-canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#file-input{
    position: absolute;
}

#text-container{
    margin: 2rem;
    position: absolute;
    margin-top: 2rem;
    display: flex;
}

#text-container *:first-child {
    margin-right: 5px;
}